.hero{
    margin: 0px 90px;
    margin-top: 40px;
}
.hero-txt{
    color: white;
    font-size: 80px;
    font-weight: 500;
    line-height: 120px;
    margin-top: 60px;
}
.hero-explore{
    display: flex;
    align-items: center;
    gap: 40px;
    width:20%;
    margin-top: 100px;
    padding: 5px 8px;
    padding-left: 30px;
    border-radius: 60px;
    background-color: white;
    cursor: pointer;
}
.hero-explore p{
    color: brown;
    font-size: 18px;
    font-weight: 500;
}
.hero-dot-play{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}
.hero-dots{
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}
.hero-dot{
    width: 15px;
    height: 15px;
    background: wheat;
    border-radius: 7.5px;
    cursor: pointer;
}
.hero-dot.orange{
    background: orangered;
}
.hero-play{
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 20px;
}

/* Tablets and small laptops */
@media (max-width: 768px) {
  .hero {
    margin: 0 30px;
  }

  .hero-txt {
    font-size: 45px;
    line-height: 65px;
    margin-top: 40px;
  }

  .hero-explore {
    width: 60%;
    margin-top: 60px;
    gap: 20px;
    padding: 10px 20px;
  }

  .hero-explore p {
    font-size: 16px;
  }

  .hero-dot-play {
    margin-top: 60px;
    flex-direction: column;
    gap: 20px;
  }

  .hero-play {
    margin-right: 0;
  }
}