
/* Hero Section */
.abt-main {
  background: url('../../assets/abtbg.jpg') center/cover no-repeat;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:-72px;
  position: relative;
}

.abt-main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.abt-main .mask {
  position: relative;
  text-align: center;
  color: white;
}


.abt-main h1 {
  font-family: 'Poiret One', cursive;
  font-size: 4rem;
  letter-spacing: 2px;
}

/* About Section */
.about {
  padding: 3rem 10%;
  background-color: #fff;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.about-text h2 {
  font-family: 'Poiret One', cursive;
  font-size:30px;
  margin-bottom: 10px;
  color: black;
}

.about-text p {
  color: #444;
  line-height: 1.6;
  font-size: 15px;
  color: black;
}

.about-image img {
  width: 100%;
  height: 500px;
  border-radius: 15px;
  object-fit: cover;
}

.features {
  text-align: left;
}

.features h1 {
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  font-weight: 300;
  color: black;
}
.features ul{
  list-style: none;
  color: black;
}
.features ul li{
  padding-bottom: 10px;
}

/* Mobile View (max-width: 768px) */
@media (max-width: 768px) {
  .about-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-text h2 {
    font-size: 26px;
  }

  .about-text p {
    font-size: 14px;
  }

  .about-image img {
    height: 350px;
  }

  .features {
    text-align: center;
  }

  .features ul {
    display: inline-block;
    text-align: left;
  }

  .abt-main h1 {
    font-size: 2.5rem;
  }
}
